html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
	text-decoration:none; 
	color:inherit; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
*{
	box-sizing:border-box;
}
body{
	 font-family:'open_sansregular', sans-serif;
	 color:#000000;
	 background-color:#fff; 
} 
.main-wrap{
	 min-width:320px; 
	 overflow:hidden;
}
.container{
	 max-width:1110px;
	 margin-right:auto;
	 margin-left:auto;
	 padding-left:10px;
	 padding-right:10px;   
}
$lines_color:#eae3e3; 
.header-block{
	$font_size:12px;
	font-size:font_size;
	.top-line{
		padding:7px 10px;
		border-bottom:1px solid $lines_color;
	}
	.dropdown{
		.caret{
		   display:inline-block; 	
		   width:8px;
		   height:5px; 
		   background-image:url('../img/dropdown-arrow.png');
		   background-size:contain;
		   background-repeat:no-repeat;
		   vertical-align:20%;  
		}
		.currency{
           text-transform:uppercase;
           font-family:'open_sansbold';
           .caret{
           	 margin-left:4px; 
           } 
		}
		.country{
			.drpdn-a-countr{
				margin-right:11px;
				text-transform:none;   
				&:before{
					content:'';
					display:inline-block;
					height:9px; 
					width:14px;
					margin-right:5px; 
					background-size:contain;
					background-repeat:no-repeat;
					background-image:url('../img/drpdn-flag.jpg'); 
				}
			}
		}
		.name-surname{
			.drpdn-a-photo{
				margin-right:12px; 
				vertical-align:middle; 
				&:before{
					content:'';
					vertical-align:middle; 
					display:inline-block;
					height:26px; 
					width:26px;
					margin-right:10px; 
					background-size:contain;
					background-repeat:no-repeat;
					background-image:url('../img/drpdn-photo.png'); 
				}
			}
			.caret{
           	  vertical-align:middle; 
            } 
		}
	}
	.main-top-menu{
		a:hover{
			text-decoration:underline;
		}
	}
	.top-menu{
		text-transform:uppercase;
		color:#505050; 
		font-size:0;
		margin-top:5px;
		float:left; 
		li{
			$margin_right:30px;
			position:relative;
			display:inline-block;
			font-size:$font_size; 
			margin-right:$margin_right; 
			&:after{
				content:'';
				display:block;  
				background-color:$lines_color;
				height:20px;
				width:1px;   
				position:absolute;
				right:-($margin_right/2); 
				bottom:-5px;
			} 
			&:last-child{
				margin-right:0px;
				&:after{
					display:none; 
				} 
			}
		}  
	} 
	.top-menu-right{
		float:right;
	}
	.dropdowns-left{
        margin-right:54px;
	}
	.top-men-left{
		float:left;
	}

	.main-header{
        position:relative;
        text-align:right; 
        padding-left:200px;
        padding-top:11px;
        padding-bottom:11px;
        .ancor-with-logo{ 
        	display:block;
        	width:180px;
        	position:absolute;
        	left:-1px;
        	top:27%; 
        	&>img{
        		display:inline-block; 
        		width:100%; 
        	}  
        }
        .main-header-menu{
        	line-height:1.5; 
        	display:inline-block; 
        	font-size:15px;
        	margin-bottom:10px; 
        	li{
        		display:inline-block; 
        		margin-right:38px; 
        		a:hover{
                  color:#795556; 
        		}
        	} 
        }
        .actions-menu{
        	display:inline-block; 
        	font-size:14px;
        	color:#fefefe; 
        	li{
        		display:inline-block; 
        		background-color:#264aa2;
        		padding:15px 25px;
        		border-radius:15%/50%;
        		&:nth-child(1){
        			background-color:#de1f26; 
        			margin-right:17px;
        		}  
        	}
        }
	}
} 
.main-block{
	display:block;/*for EE*/ 
	background-image:url(../img/big-background.jpg);
	background-repeat:no-repeat;
	background-size:auto 395px;
	background-position:50% 0; 
	padding-left:10px;
	padding-right:10px; 
	padding-top:39px;
	.main-h{
		color:#fff; 
        font-size: 70px;
        text-transform: uppercase;
        font-family: 'open_sansbold';
        margin-bottom:16px;
	} 
	.main-h-descr{
		font-size:20px;
		color:#fff; 
		margin-bottom:80px;
		opacity:0.8; 
	}
	.tab-headers{
		display:flex;
		flex-wrap:wrap; 
		padding-left:0px;
		padding-right:0px;  
		li{
		   width:33.3333%;
		   background-color:#040404;  
		   border-right:1px solid #3d3d3d;
		   opacity:0.6;
		   text-align:center;  
		   padding-top:23px;
		   padding-bottom:23px;
		   &:last-child{
		   	border-right:none; 
		   }
		   a{ 
		   	font-size:17px;
		   	display:inline-block; 
		   	color:#fff; 
		   	text-transform:uppercase;
		   	font-family: 'open_sansextrabold';
		   } 
		   &.active-tab{
		   	background-color:#fff; 
		   	opacity:1;
		   	border-bottom:1px solid $lines_color; 	   	
			   a{
			   	  color:#de1f24; 
			    }
		   }
	    }
	} 
}
.h-in-section{
	font-size:27px;
	font-family: 'open_sansbold';
	margin-bottom:23px;
	.red{
		color:#de1f24; 
	}
}
.content-tab{
	.container{
		background-color:#fff; 
	}
}

.block-car-whith-settings{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-top:40px;
	padding-bottom:40px; 
	.inscription{
		color:#a5a5a5;
		text-transform:uppercase;
		font-size:12px; 
		font-family: 'open_sansextrabold';
		margin-bottom:8px;
	}
	.dropdown{
		&.frozen-drpdn{
			opacity:0.5; 
		}
        a{
            font-size:20px;
            font-family: 'open_sansbold';
            position:relative;
            display:inline-block;
            width:100%; 
                .caret{
				    display:inline-block; 	
				    width:8px;
				    height:5px; 
					background-image:url('../img/dropdown-arrow.png');
					background-size:contain;
					background-repeat:no-repeat;
					position:absolute;
					right:28px;
					top:2px;   
                } 
        }
    }
	.column-1{
        width:521px;
        max-width:100%; 
        margin-bottom:30px;
        .two-dropdowns{
        	margin-bottom:110px;
        	display:table;
        	width:100%; 
        	.column{
        		display:table-cell;
        		width:50%;   
        	} 
        }
        .range-picker{
        	position:relative;
        	max-width:460px;
        	width:100%; 
        	height:2px;
        	background-color:#d8d8d8;
        	margin-bottom:20px;
        	.inscription{
        		position:absolute;
        		left:1px;
        		bottom:24px;
        		margin-bottom:0;
        		user-select:none;
        	}
        	.priseFromTo{
        		user-select:none;
        		position:absolute;
        		bottom:24px;
        		right:1px; 
        		color:#a5a5a5;
        		span{
        			color:#000;
        			font-family:'open_sansbold';
                 } 
                 .dollar{
                 	font-size:20px;
                 	position:relative;
                 	top:1px;
                 }
        	}
        	.stars-price,.end-price{
                position:absolute;
        		color:#a5a5a5;	
        		font-size:9px;
        		top:19px;
        		user-select:none;
            }
            .stars-price{
            	left:1px;
            }
            .end-price{
            	right:1px;
            }
        	.box{
			    cursor:pointer; 
				position:absolute; 
				width:30px;
				height:30px;
				border:8px solid #dd2026;
				background-color:#fffffd;
				border-radius:50%; 
				top:-13px;
				left:-1px; 
            } 
            .bridge{
            	height:5px; 
            	position:absolute; 
            	width:0px;
            	background-color:#dd2026;  
            }   
        }
	}
	.column-2{
	   width:200px;
	   .dropdown{
    		&:first-child{
    			margin-bottom:80px;
    		}
    	} 	 
	}
	.column-3{
       width:270px;
       .number-of-offers{
          color:#fff; 
          font-size:20px;
          text-align:center;
          background-color:#de1f26;
          padding:20px 0;
          font-family:'open_sansbold'; 
          border-radius: 15%/50%; 
          max-width:273px;
          width:100%; 
          margin-left:auto;
          margin-right:auto;  
       } 
	}

}

.top-make{
	.cars-types-container{
		margin-bottom:100px;
	}
	.banner{
		display:block;
		margin:0 auto; 
		max-width:729px;
		width:90%;
		img{
			width:100%; 
		} 
	}
}
.top-make,.type{
	padding-bottom:80px; 
	.cars-types-container{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
		.car-type-item{
            width:114px;
            text-align:center; 
            margin-left:5px;
            margin-right:5px;
            img{
            	display:inline-block; 
            	width:112px;
            	margin-bottom:35px; 
            } 
            span{
            	color:#0d8ae4;
            	font-size:16px;
            	line-height:1.5;  
            }    
		}   
	}
}
.most-recent-cars{
	.cars-items-container{	
		display:flex;
		flex-wrap:wrap; 
		justify-content:space-between;
	    .cars-item{
	       width:18%; 
	       min-height:100px; 
	       margin-bottom:24px;
	       box-shadow:1px 4px 12px 1.5px rgba(26,27,28,0.3);
	       border-radius:3px; 
	       &>img{
		      width:100%; 
		      display:inline-block;
		      margin-bottom:15px; 
		   }  
		   .car-item-padding{
		   	   padding-left:15px;
	           padding-right:15px; 
		   }
		   .car-h{
		   	   text-transform:uppercase;
		   	   font-family:'open_sansbold'; 
		   	   margin-bottom:12px;
		   	   min-height:32px;
		   }
		   .prise-and-mileage{
			   	display:flex;
			    flex-wrap:wrap;
			   	justify-content:space-between;
			   	margin-bottom:10px;
			   	h4{
			   		color:#a5a5a5; 
			   		text-transform: uppercase;
			   		font-size:10px 
			   	}
			   	span{
			   		font-size:12px;			   		
			   	} 
                .prise>span{
                  color:#e01e26; 
                }
                .mileage>span{
                  color:#000; 
                }
		   }
           .company-name{
           	 color:#a5a5a5;
           	 font-size:12px;
           	 background-image:url(../img/red-pointer.png);
           	 background-repeat:no-repeat;
           	 background-size:10px;
           	 padding-bottom:5px;
           	 padding-left:17px;
           	 margin-bottom:5px;  
           }
	    }
	    .cars-item.view-all-cars{
	    	 position:relative;
	       	 box-shadow:none;
	       	 background-color:#264aa2;
	       	 padding:30px;
	       	 padding-right:0;
	       	 box-sizing:border-box;
	       	 .three-circles{
	       	 	margin-bottom:42px;
	       	 	&>span{
	       	 		display:inline-block;
	       	 		width:10px;
	       	 		height:10px;
	       	 		background-color:white;
	       	 		margin-right:6px;
	       	 		border-radius:50%;     
	       	 	}
	       	 }
	       	 .car-bg{
	       	 	height:43px; 
	       	 	width:100px;
	       	 	margin-bottom:37px;
	       	 	background-size:100%;
	       	 	background-image:url(../img/white-car.png); 
	       	 }
	       	 .view-all{
	       	 	font-size:20px;
	       	 	color:#fff; 
	       	 	line-height:1.4; 
	       	 	strong{
	       	 		font-family:'open_sansbold';
	       	 	}
	       	 }
             .circle-with-arrow{
             	display:block; 
             	position:absolute;
             	right:-22.5px;
             	bottom:45px; 
                height:45px;
                width:45px;
                border-radius:50%;
                background-color:#de1f24;
                background-image:url(../img/right-arrow.png);
                background-repeat:no-repeat;
                background-size:21px;  
                background-position:50%;      
             }
	    }
	}
}
.footer-block{
	padding-left:10px;
	padding-right:10px;
	background-color:#2b2b2b;
	color:#fff;
	font-size:15px;
	padding-top:53px;
	padding-bottom:45px;
	.about{
		width:25%; 
	}
	.links-column{
		float:left;
		h3{
		   font-family:'open_sansbold';
		   margin-bottom:25px;
		   font-size:20px;
	    }
	    ul>li{
	    	margin-bottom:20px;
	    	&:last-child{
	    		margin-bottom:0;
	    	}
	    	&>a:hover{
	    		text-decoration:underline; 
	    	}
	    }
	}
	.social-block{
		float:right; 
		.soc-h{
			font-size:20px;
			margin-bottom:20px;
		}
		.soc-descr{
			font-size:14px;
			margin-bottom:25px;
			line-height:1.5;
			color:rgba(255,255,255,0.5); 
		}
        .social-icons{
        	&>li{
        		display:inline-block;
        		margin-right:15px;
        		&:last-child{
        			margin-right:0; 
        		}
        		&>a{
        			display:inline-block;
        			width:36px;
        			height:36px;
        			border-radius:50%;
        			background-repeat:no-repeat; 
        			background-size:auto 55%;
        			background-position:center;   
        		}
        		&:nth-child(1)>a{
        			   background-image:url(../img/icons-social/fb.png);
        			   background-color:#4167b2;
        			   background-size:auto 60%;	
        		}
        		&:nth-child(2)>a{
        			   background-image:url(../img/icons-social/twitter.png);
        			   background-color:#1da1f3;	
        		}
        		&:nth-child(3)>a{
        			   background-image:url(../img/icons-social/g-plus.png);
        			   background-color:#dc4439;	
        		}
        		&:nth-child(4)>a{
        			   background-image:url(../img/icons-social/in.png);
        			   background-color:#0177b5;	
        		}
        		&:nth-child(5)>a{
        			   background-image:url(../img/icons-social/instagram.png);
        			   background-color:#6b27b2;	
        		}
        		&:nth-child(6)>a{
        			   background-image:url(../img/icons-social/your-tube.png);
        			   background-color:#d40000;	
        			   background-size:auto 45%;
        		}  
        	}
        }
	}
}

@media (max-width: 1048px){
	.block-car-whith-settings{
		.column-1{
	        width:100%;
		}
		.column-2{
		   width:50%; 	 
		}
		.column-3{
	       width:50%; 
		}

	}	
}

@media (max-width: 992px){
	.main-block{
		.main-h{
	        font-size: 50px;
		} 
    }
	.most-recent-cars{
		.cars-items-container{	
		    .cars-item{
		       width:31%; 
		    }
		}
	}
	.block-car-whith-settings{
		.column-2{
		    .dropdown:first-child{
		        margin-bottom:30px;
		    }
		}
	}	 
}

@media (max-width: 767px){
    .header-block{
	    .main-header{ 
	   
	        .main-header-menu{
        	    margin-bottom:15px;
            }
	    }
    }
    .main-block{
		.main-h{
	        font-size: 40px;
		} 
    }
}
@media (max-width: 600px){
	.header-block{
		.top-men-left{
			float:none ;
			margin-bottom:20px;
			.dropdowns-left{
				margin-bottom:10px;
				margin-right:20px;
			}
			.main-top-menu{
				float:right;
			}
		}
	.top-menu-right{
		float:none;
	}
	    .main-header{ 
	        padding-left:0;
	        text-align:center; 
	        .ancor-with-logo{
	        	position:relative; 
	        	width:200px;
	        	margin-left:auto;
	        	margin-right:auto; 
	        	margin-bottom:15px;
	        }
	        .main-header-menu{
        	    margin-bottom:15px;
            }
		    .actions-menu{
	        	font-size:12px;
	        	li{
	        		padding:10px 15px;
	        		&:nth-child(1){ 
	        			margin-right:10px;
	        		}  
	        	}
	        }
	    }
    }
	.block-car-whith-settings{
		.column-1{ 
			margin-bottom:30px;
	        .two-dropdowns{ 
	        	.column{
	        		display:block;
	        		width:100%;
	        		max-width:400px; 
	        		margin-left:auto;
	        		margin-right:auto; 
	        		&:first-child{
	        			margin-bottom:30px;
	        		}
	        	}
	        }
	    }
	    .column-2{
	    	display:block;
	        width:100%;
	        max-width:400px; 
	        margin-left:auto;
	        margin-right:auto;
	        margin-bottom:30px;
	        .dropdown:first-child{
	        	margin-bottom:30px;
	        }
	    }
	    .column-3{
	    	display:block;
	    	width:70%;  
	    }
	}	 
    .most-recent-cars{
		.cars-items-container{	
		    .cars-item{
		       width:48%; 
		    }
		}
	}
	.footer-block{
		.about{
			width:50%; 
		}
		.search{
			width:45%; 
		}
		.links-column{
			float:none;
			display:inline-block; 
			vertical-align:top;
			margin-bottom:30px; 
		}
		.social-block{
			float:none;
            .social-icons{
		        &>li{
		        	margin-right:5px;
		        }
            } 
		}
	}
}

       		